<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/main.css">
  <title>Trivia Trends</title>
  <link rel="shortcut icon" href="./styles/assets/crownFavicon.png">
</head>

<body ng-app="myApp" ng-controller="questionController">
  <header>
    <div></div>
    <h1>Trivia Trends</h1>
    <button ng-click="showModal()"><span>+</span> Add Question</button>
  </header>
  <article>
    <nav>
      <a ng-click="filterByDifficulty('')">All Questions</a>
      <a ng-click="filterByDifficulty('1')">Easy</a>
      <a ng-click="filterByDifficulty('2')">Medium</a>
      <a ng-click="filterByDifficulty('3')">Hard</a>
      <p>{{difficultyFilter}}</p>
      <a>Search by Animal</a>
    </nav>
    <div class="search">
      <input type="text" placeholder="Animal to search by">
    </div>

    <div class="question-wrapper" ng-repeat="question in questions">
      <h3>{{question.question}}</h3>
      <div >{{difficultyText(question.difficulty)}}</div>
      <div class="gear" ng-click="fillValues(question)">
        <img src="./styles/assets/gear.svg" alt="">
      </div>
      <ul>
        <li ng-repeat="(key, val) in question.options"> <!-- Repeated for each option -->
          <input type="radio">
            <label>{{val}}</label>
        </li>
      </ul>
    </div>

  </article>

  <div class="modal">
    <form>
      <h4 class="close" ng-click="hideModal()">X</h4>
      <span>Question</span><input class="question-in" type="text" ng-model="newQuestion.question"><!-- Question -->
      <span>Animal it's about</span><input class="animal-in" type="text" ng-model="newQuestion.animal"><!-- Animal -->
      <span>Difficulty</span>
      <div class="range">
        <input class="diff-in" type="range" min="1" max="3" ng-model="newQuestion.difficulty"><!-- Difficulty -->

        <h5>{{newQuestion.difficulty}}</h5>
      </div>
      <h4>Options</h4>
      <div>
        <input class="radio-1" name="correct" type="radio" ng-model="one" value="1">
        <input class="option-1" type="text" ng-model="newQuestion.options[1]">
      </div>
      <div>
        <input class="radio-2" name="correct" type="radio" ng-model="two" value="2">
        <input class="option-2" type="text" ng-model="newQuestion.options[2]">
      </div>
      <div>
        <input class="radio-3" name="correct" type="radio" ng-model="three" value="3">
        <input class="option-3" type="text" ng-model="newQuestion.options[3]">
      </div>
      <div>
        <input class="radio-4" name="correct" type="radio" ng-model="four" value="4">
        <input class="option-4" type="text" ng-model="newQuestion.options[4]">
      </div>

      <!--Add question buttons-->
      <div class="buttons">
        <button class="green" ng-click="saveNewQuestion()">Save Question</button>
        <button ng-click="cancelNewQuestion()">Cancel</button>
      </div>

      <!--Edit & Delete question buttons-->
      <div class="buttons">
        <button class="red" ng-click="deleteQuestion()">Delete Question</button>
        <button class="green" ng-click="saveChanges()">Save Changes</button>
        <button ng-click="cancelNewQuestion()">Cancel</button>
      </div>

    </form>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
  <script src="./app/app.js"></script>
  <script src="./app/questionController.js"></script>
  <script src="./app/questionService.js"></script>
</body>

</html>